extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p(style="background-color: #ef5548; color: #fff;" class="uppercase text-xs text-center p-2 mb-2 py-2 font-bold rounded-lg")= error.msg

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/olvide-password" noValidate)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email de Registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu email..." type="email" name="email")
            
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes cuentas? Crear una
                        a.text-gray-500.text-xs(href="/auth/login") ¿Tienes cuentas? Iniciar Sesión

                    input(class="w-full rounded-full bg-yellow-300 p-4 hover:bg-yellow-500 text-grey-800 font-bold py-3 cursor-pointer" type="submit" value="Enviar instrucciones")