extends ../layout/admin

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        a(href="/propiedades/crear" class="rounded-2xl py-2 bg-yellow-300 p-4 hover:bg-yellow-500 text-grey-800 text-sm font-bold text-center text-black uppercase my-5 w-full sm:w-auto inline-block px-10") Publicar propiedad
