header.bg-yellow-300.p-0.h-12.flex
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-black.font-extrabold.text-center Bienes
            span.font-normal Raices
        
        nav(class="text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(class="text-gray-800 p-4 border-b-2 border-transparent hover:bg-white hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out" href="") Mis Propiedades
            a(class="text-gray-800 p-4 border-b-2 border-transparent hover:bg-white hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out" href="") Mi Perfil
            a(class="text-gray-800 p-4 border-b-2 border-transparent hover:bg-white hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out" href="") Cerrar Sesión
            