header.bg-yellow-300.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-black.font-extrabold.text-center Bienes
            span.font-normal Raices
        
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(class="text-gray-800" href="") Mis Propiedades
            a(class="text-gray-800 ml-4" href="") Mi Perfil
            a(class="bg-gray-800 py-2 px-4 ml-4 rounded-lg hover:bg-gray-700" href="") Cerrar Sesión