header.bg-yellow-300.p-0.h-12.flex
    .container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-2xl.text-black.font-extrabold.text-center Bienes
                span.font-normal Raices
        
        nav(class="text-sm md:flex md:items-center md:gap-3 font-medium text-white hidden")
            a(class="text-gray-800 p-4 border-b-2 border-transparent hover:bg-white hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out" href="/auth/registro") Crear Cuenta
            a(class="text-gray-800 p-4 border-b-2 border-transparent hover:bg-white hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out" href="/auth/login") Iniciar Sesión
            

div(class="bg-yellow-400 hidden lg:block")
    div(class="container mx-auto flex justify-between py-1")
        nav(class="flex gap-4 items-center") 
            <a href="/categorias/1" class="text-gray-800 p-2 border-b-2 border-transparent hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out">Casas</a>
            <a href="/categorias/2" class="text-gray-800 p-2 border-b-2 border-transparent hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out">Pisos</a>
            <a href="/categorias/3" class="text-gray-800 p-2 border-b-2 border-transparent hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out">Locales</a>
            <a href="/categorias/4" class="text-gray-800 p-2 border-b-2 border-transparent hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out">Oficinas</a>
            <a href="/categorias/5" class="text-gray-800 p-2 border-b-2 border-transparent hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out">Garajes</a>
            <a href="/categorias/6" class="text-gray-800 p-2 border-b-2 border-transparent hover:text-customPink hover:border-customPink border-solid transition-colors duration-200 ease-in-out">Terrenos</a>
        
        form(action="/buscador" method="POST" class="flex gap-3 items-center")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="text" id="termino" name="termino" placeholder="Buscar propiedades..." class="pl-2 p-1 rounded-sm shadow focus:outline-none placeholder-small")
                input(type="submit" class="bg-customPink hover:bg-customPinkHover rounded-sm text-white font-medium p-1.5 cursor-pointer text-sm transition-colors duration-200 ease-in-out" value="Buscar")
    